/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
  }
  
  .container {
    text-align: center;
    padding: 30px;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  
  h2 {
    color: #007BFF;
    margin-top: 0;
    padding-top: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #444;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
  }
  
  button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button-container a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  .button-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  #mensaje {
    display: none;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    margin-top: 20px;
  }
  
  #error-message {
    display: none;
    color: red;
    margin-top: 20px;
  }
  
  .resultado-container {
    margin-top: 20px;
  }
  
  .resultado-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    margin: 10px;
  }
  
  .resultado-container button:hover {
    background-color: #0056b3;
  }
  
  .boton-volver {
    margin-top: 20px;
    text-align: center;
  }
  
  .boton-volver button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .boton-volver button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos específicos para ingresarDoc.html */
  .crear-curso-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .crear-curso-form form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  